[submodule "libs/qt-jsonrpc-server"]
	path = libs/qt-jsonrpc-server
	url = https://github.com/Zebreus/qt-jsonrpc-server.git
[submodule "libs/jwt-cpp"]
	path = libs/jwt-cpp
	url = https://github.com/Zebreus/jwt-cpp.git
